setup/init.sh
venv*
__pycache__*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
trial*
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.terraform*
terraform.tfstate*
mongo_agent_lambda.zip
scheduler_agent_lambda.zip
search_agent_lambda.zip
env/
scheduler-lambda.zip
queries/
.cc-dotfiles/
commands.txt
prev.avsc
sql_agent_lambda.zip
service_principal_keys.txt
